* {
  margin: 0;
  padding: 0;
}
.container {
  height: 45px;
  background: #252f3d;
  padding-left: 11px;
  display: flex;
 justify-content: space-between;
}
.nav-left {
  display: flex;
}
.all {
  width: 40px;
  height: 23px;
  display: flex;
  list-style-type: none;
  padding: 8px 9px 8px 9px;
  align-items: center;
  justify-content: center;
}
.all li {
  color: var(--primary-white, #fff);
  font-family: arial;
  font-size: 15px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
}
#all {
  position: relative;
  margin-left: 5px;
  bottom: 50%px;
}
.content {

  list-style-type: none;
  width: 930px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
  margin-bottom: 6px;
  padding: 8px 9px 8px 9px;
}
.content li {
  color: var(--primary-white, #fff);
  font-family: arial;
  font-size: 15px;
  font-style: normal;
  font-weight: regular;
  line-height: normal;
  margin-left: 5px;
  margin-right: 20px;
}
.content select{
  background: transparent;
  color: white;
  border: none;
  outline: none;
}
image-container {
  width: 481px;
display: flex; 
align-items: center;
justify-content: right;
}