@import url("https://fonts.cdnfonts.com/css/amazon-ember");
* {
  margin: 0;
  padding: 0;
}
body {
  background:#e3e6e6;
}

@media (min-width: 1036px) and (min-height: 768px) {
  main {
    position: absolute;
    top: 39.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1700px;
    margin-top: 33.1%;
  }
}
