@import url('https://fonts.cdnfonts.com/css/amazon-ember');
* {
  margin: 0;
  padding: 0;
  border: border-box;
  font-family: 'Amazon Ember', sans-serif;
  font-family: 'Amazon Ember Cd RC', sans-serif;
  font-family: 'Amazon Ember Display', sans-serif;
  font-family: 'Amazon Ember Duospace', sans-serif;
  font-family: 'Amazon Ember Mono', sans-serif;
  font-family: 'Amazon Ember V2', sans-serif;
  font-family: 'Amazon Ember V3', sans-serif;
  
}
